absl-py==2.1.0
aiosignal==1.3.1
async-timeout==4.0.2
attrs==24.2.0
audioread==3.0.1
av==12.3.0
backports.zoneinfo==0.2.1
Brotli @ file:///C:/b/abs_3d36mno480/croot/brotli-split_1714483178642/work
certifi @ file:///C:/b/abs_1fw_exq1si/croot/certifi_1725551736618/work/certifi
cffi==1.17.1
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
click==8.1.3
colorama==0.4.6
coloredlogs==15.0.1
comtypes==1.1.14
contourpy==1.1.1
ctranslate2==4.5.0
cycler==0.12.1
decorator==5.1.1
Deprecated==1.2.13
discord.py==2.2.3
exchange-calendars==4.2.6
faster-whisper==1.0.2
filelock @ file:///C:/b/abs_f2gie28u58/croot/filelock_1700591233643/work
flatbuffers==24.3.25
fonttools==4.55.0
frozenlist==1.3.3
fsspec==2024.10.0
gmpy2 @ file:///C:/ci/gmpy2_1645456279018/work
greenlet==2.0.2
huggingface-hub==0.25.1
humanfriendly==10.0
idna @ file:///C:/b/abs_aad84bnnw5/croot/idna_1714398896795/work
importlib_metadata==8.5.0
importlib_resources==6.4.5
jax==0.4.13
Jinja2 @ file:///C:/b/abs_92fccttino/croot/jinja2_1716993447201/work
joblib==1.4.2
kiwisolver==1.4.7
koapy==0.9.0
lazy_loader==0.4
librosa==0.10.2.post1
llvmlite==0.41.1
MarkupSafe @ file:///C:/b/abs_ecfdqh67b_/croot/markupsafe_1704206030535/work
matplotlib==3.7.5
mediapipe==0.10.11
mkl-fft @ file:///C:/b/abs_19i1y8ykas/croot/mkl_fft_1695058226480/work
mkl-random @ file:///C:/b/abs_edwkj1_o69/croot/mkl_random_1695059866750/work
mkl-service==2.4.0
ml-dtypes==0.2.0
mpmath @ file:///C:/b/abs_7833jrbiox/croot/mpmath_1690848321154/work
msgpack==1.1.0
networkx @ file:///C:/b/abs_e6gi1go5op/croot/networkx_1690562046966/work
noisereduce==3.0.2
nomkl==0.0.3
numba==0.58.1
numpy @ file:///C:/Users/dev-admin/mkl/numpy_and_numpy_base_1682982345978/work
onnxruntime==1.19.2
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opt_einsum==3.4.0
packaging==24.2
pandas==1.5.3
pillow==10.2.0
platformdirs==4.3.6
pooch==1.8.2
protobuf==3.20.3
PyAudio==0.2.14
pycparser==2.22
pydub==0.25.1
pygtrie==2.5.0
pyhocon==0.3.60
pyluach==2.2.0
pyparsing==3.1.4
pyreadline3==3.5.4
PySide2==5.15.2.1
PySocks @ file:///C:/ci/pysocks_1605287845585/work
python-dateutil==2.9.0.post0
pytz-deprecation-shim==0.1.0.post0
pywinauto==0.6.8
PyYAML @ file:///C:/b/abs_14xkfs39bx/croot/pyyaml_1728657968772/work
QtPy==2.3.1
regex==2024.9.11
requests @ file:///C:/b/abs_9frifg92q2/croot/requests_1721410901096/work
Rx==3.2.0
safetensors==0.4.5
scikit-learn==1.3.2
scipy==1.10.1
shiboken2==5.15.2.1
six==1.16.0
sounddevice==0.5.0
soundfile==0.12.1
soxr==0.3.7
SpeechRecognition==3.10.4
SQLAlchemy==1.4.48
sympy @ file:///C:/b/abs_4e4p71hdj_/croot/sympy_1724938208509/work
tabulate==0.8.10
threadpoolctl==3.5.0
tokenizers==0.20.3
toolz==0.12.0
torch==2.2.2
torchvision==0.17.2
tqdm==4.67.0
typing_extensions @ file:///C:/b/abs_0as9mdbkfl/croot/typing_extensions_1715268906610/work
tzdata==2023.3
tzlocal==4.3
urllib3 @ file:///C:/b/abs_9a_f8h_bn2/croot/urllib3_1727769836930/work
webrtcvad==2.0.10
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306167264/work
windows-curses==2.3.1
zipp==3.20.2
